.boxed {
    border: 1px solid black;
    background-color: #8c9ecf;
    padding: 5px;

}

#header {
    margin-top: 10px;
}

#itemBox {
    display: block;
}


#orderBox {
    display: block;
}

#itemCard img {
    width: 100px;
    height: 100px;
}

.itemButton {
     cursor: pointer;
}